/*mobile*/
/*共同  */
*{box-sizing:border-box;}
h1{color:#9E7A7A}
p,table{color:#434343}
th,b{color:#0B1013;}
.container{width:auto;margin:auto;}
/*共同  */
/* 導覽列 */
#nav{position:fixed;top:0px;right:0px;z-index:100;}
.menu-button-checkbox:checked ~ #menu {
    display: block;
  }
#menu{
  width:150px;height:100%;
  border-radius:10px
  ;position:fixed;top:40px;right:10px;
  margin-top:0;
  padding-left:0;display:none;}
.menu-button{width:50px;border-radius: 50%;
  float:right;position:relative;
  }

.menu-button>img{width:50px;float:right;
  background-color:#9E7A7A;border-radius: 50%;
  position:relative;}

.menu-button-checkbox{
  position:fixed;top:10;right:0px;width:55px;height:40px;
  opacity:0;}

li{
  width:105px;
  border-radius:10px;list-style-type:none;
  padding:10px ;margin:5px 0px;
  text-align:center;background-color:#9E7A7A
   }
li>a{text-decoration:none;display:block;color:white;}
li:hover{background-color:white;}
a:hover{color:#9E7A7A;font-size:800;}



/* 以上是導覽列 */
/*  內容頁*/
#contect{position:relative;top:80px;left:0px;}
table{width:70%;margin:auto;padding:10px;letter-spacing:1px;line-height:24px;}

/*  內容頁 */
/* about me */
#about{padding: 85px 0;}
#my-photo{
  margin:10px 0px;
  width:100%;height:auto;
  border-radius:88px;}
#about img{width:200px;height:200px;border-radius:88px;}
#my-info{width:100%;margin:auto;
         text-align:center;}
#my-info td{text-align: left;}
th{width:200px;border:1px solid #9E7A7A;;font-size:12px;}
td{border:1px solid #9E7A7A;;width:500px;font-size:12px;}
table{width:100%}

/* about me */
/* my-work */
#my-work{text-align:center;padding: 130px 0;}
#work-items{width:100%;margin:auto;}
.item-info{border:1px solid #9E7A7A;
  background-image: url("img/work1.png");
  background-image-size:cover;
   background-repeat: no-repeat; 
  display:inline-block;
  width:300px;height:370px;
  margin:10px;position:relative;z-index:0;}
.item-info img{width: 100%;}
.item-info h4{z-index:1;
  position: relative;top:120px;color:black;}
.item-info >p{position: relative;top:170px;left: 0px;z-index:1;
  font-size:16px;letter-spacing:4px;line-height:20px;}
.item-info>button{width:300px;height: 55px;background-color:rgba(158, 122, 122, 0.3);
  position: relative;top:165px;left: 0px;
  opacity: 1;}
.item-info>button:hover{background-color:rgba(158, 122, 122, 0.8);}  
#my-work a{text-decoration: none;color:white;}
/* my-work */
/* contact */
#contact{padding: 85px 0;margin:90px 0;}
#contact a{text-decoration:none;color:#0B1013;}
#contact img{max-width:40%;}
/* contact */


